@page
@model IndexModel
@{
    ViewBag.Title = "Login - Register StockSavvy";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockSavvy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>


<bodyLogin style="overflow: hidden">
    <div class="main-wrapper">

        <div class="card-container">
            <div class="card">
                <div class="login-form">
                    <div class="header">Log in</div>
                    <div class="content">
                        <form asp-page-handler="LoginRequest" method="post">
                            <div class="input-field">
                                <input type="text" placeholder="Username" asp-for="UserName">
                            </div>
                            <div class="input-field">
                                <input type="password" placeholder="Password" asp-for="Password">
                            </div>
                            <div class="input-field">
                                <button class="btn btn-submit" type="submit">Log in</button>
                            </div>
                        </form>
                    </div>
                    <div class="footer">
                        Don't have an account ?
                        <button class="btn btn-rotate" id="btn-signup">Sign up</button>
                    </div>
                </div> <!-- end login-form panel -->
                <div class="signup-form">
                    <div class="header">Sign up</div>
                    <div class="content">
                        <form asp-page-handler="RegisterRequest" method="post">
                            <div class="input-field">
                                <input type="text" placeholder="Username" asp-for="UserName">
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="First name" asp-for="FirstName">
                            </div>
                            <div class="input-field">
                                <input type="text" placeholder="Last name" asp-for="LastName">
                            </div>
                            <div class="input-field group">
                                <input type="password" placeholder="Password" asp-for="Password">
                                <span class="see-password">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <path fill="#fff" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="input-field">
                                <button class="btn btn-submit" type="submit" id="liveToastBtn">Get started</button>
                            </div>
                        </form>
                    </div>
                    <div class="footer">
                        <button class="btn btn-rotate" id="btn-login">I have an account</button>
                    </div>
                </div> <!-- end signup-form panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @if (Model.UserLoginEx != null)
                {
                    <h3>@Model.UserLoginEx</h3>
                }
                @if (Model.UserRegisterEx != null)
                {
                    <h3>@Model.UserRegisterEx</h3>
                }
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            const rotateCard = () => {
                const cardContainer = document.querySelector('.card-container')
                cardContainer.classList.toggle('rotate')
            }

            const btnSignup = document.querySelector('#btn-signup'),
                btnLogin = document.querySelector('#btn-login')

            btnSignup.addEventListener('click', rotateCard)
            btnLogin.addEventListener('click', rotateCard)

            /*See passwod*/
            const seePassword = () => {
                const seePwdIcon = document.querySelector('.see-password'),
                    pwdInput = document.querySelector('.group input')

                seePwdIcon.addEventListener('mousedown', () => {
                    pwdInput.type = 'text'
                })

                seePwdIcon.addEventListener('mouseup', () => {
                    pwdInput.type = 'password'
                })

                seePwdIcon.addEventListener('mouseover', () => {
                    pwdInput.type = 'password'
                })
            }

            seePassword()
        })
        document.body.addEventListener("pointermove", (e) => {
            const { currentTarget: el, clientX: x, clientY: y } = e;
            const { top: t, left: l, width: w, height: h } = el.getBoundingClientRect();
            el.style.setProperty('--posX', x - l - w / 2);
            el.style.setProperty('--posY', y - t - h / 2);
        })

        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            })
        }
    </script>
</bodyLogin>
</html>
