html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



#line-example-12 {
    height: 200px;
    font-size: 5px;
    margin: 0 auto;
    background-color: #f6f6f6;
}
